@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #eee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

#root, body {
  @apply w-screen h-screen;
}


.overlay-bg-login {
  background-color: black;
  -webkit-mask-image: linear-gradient(to bottom, black, transparent);
  mask-image: linear-gradient(to bottom, black, transparent);
}

.loader {
  --color: white;

  width: 20px;
  padding: 3px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--color);
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

@keyframes caret-blink {
  0%, 70%, 100% {
    opacity: 1;
  }
  20%, 50% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-caret {
  animation: caret-blink 1.2s ease-out infinite;
}

[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: fixed;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);

  animation: fade-in .3s;

  @apply bg-zinc-900 text-white p-2 rounded-md border border-slate-800 text-sm tracking-wide;
}

.closed-fade {
  grid-template-rows: 0fr;
}

.open-fade {
  grid-template-rows: 1fr;
  transition: grid-template-rows .3s;
}

.react-select__value-container {
  @apply px-5! py-3!;
}

.react-select__option {
  @apply bg-zinc-600! py-2! flex!;
}

/* Para navegadores baseados em Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor de fundo da trilha (cinza claro) */
  border-radius: 4px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb {
  background: #ff0000; /* Cor vermelha para o "polegar" (a parte que você arrasta) */
  border-radius: 4px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb:hover {
  background: #cc0000; /* Vermelho mais escuro ao passar o mouse */
}

/* Para Firefox */
* {
  scrollbar-width: thin; /* Torna o scrollbar fino */
  scrollbar-color: #ff0000 #f1f1f1; /* Vermelho para o polegar, cinza claro para a trilha */
}

.slick-arrow {
  @apply hidden!;
}